services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      DB_HOST: postgres
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_MIN_CONN: ${DATABASE_MIN_CONN}
      DATABASE_MAX_CONN: ${DATABASE_MAX_CONN}
      JWT_SECRET: ${JWT_SECRET}
    volumes:
      - ./src:/app/src